
@{
    Layout = null;
    ViewBag.Title = "课程概要";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/jquery-weui.min.js"></script>
    <link href="~/Content/weui.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-weui.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <article class="weui-article">
        <h1>小学语文</h1>
        <section>
            <h2 class="title">课程简介</h2>
            <section>
                <h3>课程内容</h3>
                <p>
                    课程内容课程内容课程内容课程内容课程内容课程内容课程内容课程内容课程内容
                </p>
                <p>
                    <img src="~/images/yuwen1.jpg" alt="">
                    <img src="~/images/yuwen2.jpg" alt="" width="480" height="800">
                </p>
            </section>
            <section>
                <h3>讲师简介</h3>
                <p>
                    讲师简介讲师简介讲师简介讲师简介讲师简介讲师简介讲师简介讲师简介讲师简介
                </p>
            </section>
        </section>
    </article>
</body>
</html>

