/*
*自定义样式
*/
body {
    background-color: #F2F2F2;
}
.btn-margin {
    margin: 7px;
}

.select_title {
    width: 70px;
    padding: 10px 15px;
}

.fee-color {
    color: #f28a29;
}

.mc-card {
    margin: 10px;
    background-color: #FFF;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05)
}
.weui-form-preview {
    background-color: #F2F2F2;
}
.weui-tabbar {
    background-color: #FFF;
}
