
@{
    ViewBag.Title = "推荐管理";
}

<h2>@ViewBag.Title</h2>
<table class="table table-hover " style="vertical-align:middle;">
    <thead>
        <tr>
            <th>
                操作
            </th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
