@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Html.Raw(ViewBag.WeChatTitleName + "公众平台")</title>
</head>
<body>
    <div style="width: 100%; height: 100%; text-align: center; margin-top: 6%; margin-bottom: 0;
        padding-bottom: 0;">
        <h1 style="font-size: 26px">
            @Html.Raw(ViewBag.WeChatTitleName + "公众平台")
        </h1>

        <img width="320" height="300" src="@Url.Content("~/Images/qrcode.jpg")" alt="" />

        <h1 style="font-size: 14px">
            微信扫描二维码进行关注
        </h1>
    </div>
</body>
</html>